In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import warnings

In [2]:
warnings.filterwarnings("ignore")
pd.set_option("display.max_columns",None)

In [3]:
df = pd.read_csv(r'C:\Users\BHAVESH\IMARTICUS PYTHON TUTORIALS\INTERNSHIP PROJECTS\Analytics Vidhya SALES PREDICTION\train_sale.csv',
                 index_col=0,header=0,delimiter=' *, *')

In [4]:
df.Dependents=df.Dependents.map({'3+' : 4,'1':1,'2':2,'nan':np.nan,'0':0})

In [5]:
df_copy=pd.DataFrame.copy(df)

In [6]:
df_copy

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
Loan_ID,,,,,,,,,,,,
LP001002,Male,No,0.0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
LP001003,Male,Yes,1.0,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
LP001005,Male,Yes,0.0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
LP001006,Male,Yes,0.0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
LP001008,Male,No,0.0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...
LP002978,Female,No,0.0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
LP002979,Male,Yes,4.0,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
LP002983,Male,Yes,1.0,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
LP002984,Male,Yes,2.0,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
LP002990,Female,No,0.0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [7]:
df_copy=df_copy.drop(["Gender"],axis=1)

In [12]:
df_copy.isnull().sum()

Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            0
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [13]:
for x in df_copy.columns:
    if df_copy[x].dtype =='object' or df_copy[x].dtype == 'bool':
        df_copy[x].fillna(df_copy[x].mode()[0], inplace=True)
    if df_copy[x].dtype =='int64' or df_copy[x].dtype == 'float64':
        df_copy[x].fillna(df_copy[x].mean(), inplace=True)
"""df_copy["LoanAmount"].fillna(round(df_copy["LoanAmount"].mean(),0),
                                inplace=True)
#test_data["LoanAmount"].fillna(round(test_data["LoanAmount"].mean(),0),
                    #            inplace=True)

print(df_copy.isnull().sum())
print()
print(test_data.isnull().sum())"""

'df_copy["LoanAmount"].fillna(round(df_copy["LoanAmount"].mean(),0),\n                                inplace=True)\n#test_data["LoanAmount"].fillna(round(test_data["LoanAmount"].mean(),0),\n                    #            inplace=True)\n\nprint(df_copy.isnull().sum())\nprint()\nprint(test_data.isnull().sum())'

In [14]:
"""#imputing numerical missing data with mean value
df_copy["LoanAmount"].fillna(round(df_copy["LoanAmount"].mean(),0),
                                inplace=True)
#test_data["LoanAmount"].fillna(round(test_data["LoanAmount"].mean(),0),
                     #           inplace=True)

print(df_copy.isnull().sum())
print()
print(test_data.isnull().sum())"""

'#imputing numerical missing data with mean value\ndf_copy["LoanAmount"].fillna(round(df_copy["LoanAmount"].mean(),0),\n                                inplace=True)\n#test_data["LoanAmount"].fillna(round(test_data["LoanAmount"].mean(),0),\n                     #           inplace=True)\n\nprint(df_copy.isnull().sum())\nprint()\nprint(test_data.isnull().sum())'

In [15]:
df_copy.isnull().sum()

Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [16]:
colname=[]

for x in df_copy.columns:
    if df_copy[x].dtype=='object':
        colname.append(x)

In [17]:
colname

['Married', 'Education', 'Self_Employed', 'Property_Area', 'Loan_Status']

In [18]:
from sklearn.preprocessing import LabelEncoder

le=LabelEncoder()

for x in colname:
    df_copy[x] =le.fit_transform(df_copy[x])

In [19]:
df_copy.head()

,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
Loan_ID,,,,,,,,,,,
LP001002,0,0.0,0,0,5849,0.0,146.0,360.0,1.0,2,1
LP001003,1,1.0,0,0,4583,1508.0,128.0,360.0,1.0,0,0
LP001005,1,0.0,0,1,3000,0.0,66.0,360.0,1.0,2,1
LP001006,1,0.0,1,0,2583,2358.0,120.0,360.0,1.0,2,1
LP001008,0,0.0,0,0,6000,0.0,141.0,360.0,1.0,2,1

In [15]:
Y = df_copy.values[:,-1]
X = df_copy.values[:,:-1]

In [16]:
print(X.shape)
print(Y.shape)

(614, 10)
(614,)

In [17]:
from sklearn.preprocessing import StandardScaler

scaler=StandardScaler()
scaler.fit(X)
X=scaler.transform(X)

In [18]:
Y=Y.astype(int)

In [19]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.25,random_state=10)

In [20]:
X_train.shape

(460, 10)

In [21]:
from sklearn.linear_model import LogisticRegression

classifier = LogisticRegression()
classifier.fit(X_train,Y_train)
Y_pred = classifier.predict(X_test)

In [22]:
new_df=pd.DataFrame()
new_df["Actual"] = Y_test
new_df["Predicted"]=Y_pred

In [23]:
from sklearn.metrics import classification_report, accuracy_score, confusion_matrix

cfm = confusion_matrix(Y_test,Y_pred)
print(cfm)

print('Classification Report : ')

print(classification_report(Y_test,Y_pred))

acc = accuracy_score(Y_test,Y_pred)
print("Accuracy Score : ", acc)

[[ 14  27]
 [  1 112]]
Classification Report :
              precision    recall  f1-score   support

           0       0.93      0.34      0.50        41
           1       0.81      0.99      0.89       113

    accuracy                           0.82       154
   macro avg       0.87      0.67      0.69       154
weighted avg       0.84      0.82      0.79       154

Accuracy Score :  0.8181818181818182

In [24]:
Y_pred_prob=classifier.predict_proba(X_test)

In [25]:
Y_pred_prob

array([[0.28311917, 0.71688083],
       [0.432348  , 0.567652  ],
       [0.18409601, 0.81590399],
       [0.20749351, 0.79250649],
       [0.27095452, 0.72904548],
       [0.22412741, 0.77587259],
       [0.85912326, 0.14087674],
       [0.15225562, 0.84774438],
       [0.17539657, 0.82460343],
       [0.20276432, 0.79723568],
       [0.19927658, 0.80072342],
       [0.16999802, 0.83000198],
       [0.12507953, 0.87492047],
       [0.17943324, 0.82056676],
       [0.93733137, 0.06266863],
       [0.3455341 , 0.6544659 ],
       [0.12690225, 0.87309775],
       [0.13301959, 0.86698041],
       [0.32274785, 0.67725215],
       [0.2310221 , 0.7689779 ],
       [0.14994256, 0.85005744],
       [0.14490796, 0.85509204],
       [0.19991814, 0.80008186],
       [0.88134154, 0.11865846],
       [0.17491462, 0.82508538],
       [0.20491567, 0.79508433],
       [0.116062  , 0.883938  ],
       [0.18383555, 0.81616445],
       [0.15168939, 0.84831061],
       [0.18764972, 0.81235028],
       [0.16120905, 0.83879095],
       [0.20683601, 0.79316399],
       [0.14497714, 0.85502286],
       [0.92240763, 0.07759237],
       [0.30761884, 0.69238116],
       [0.20469869, 0.79530131],
       [0.19096528, 0.80903472],
       [0.15800787, 0.84199213],
       [0.19313275, 0.80686725],
       [0.27254178, 0.72745822],
       [0.23293752, 0.76706248],
       [0.16646037, 0.83353963],
       [0.3542301 , 0.6457699 ],
       [0.24781625, 0.75218375],
       [0.31430374, 0.68569626],
       [0.12128738, 0.87871262],
       [0.16452359, 0.83547641],
       [0.2741779 , 0.7258221 ],
       [0.24894216, 0.75105784],
       [0.2274289 , 0.7725711 ],
       [0.12634931, 0.87365069],
       [0.28416207, 0.71583793],
       [0.2042891 , 0.7957109 ],
       [0.20925064, 0.79074936],
       [0.92886617, 0.07113383],
       [0.17645091, 0.82354909],
       [0.31055723, 0.68944277],
       [0.92744869, 0.07255131],
       [0.22634222, 0.77365778],
       [0.11386534, 0.88613466],
       [0.27169107, 0.72830893],
       [0.15002508, 0.84997492],
       [0.18861698, 0.81138302],
       [0.31637433, 0.68362567],
       [0.14056826, 0.85943174],
       [0.29571282, 0.70428718],
       [0.13599714, 0.86400286],
       [0.14536879, 0.85463121],
       [0.39531916, 0.60468084],
       [0.2220029 , 0.7779971 ],
       [0.12923102, 0.87076898],
       [0.27303716, 0.72696284],
       [0.24523954, 0.75476046],
       [0.93076604, 0.06923396],
       [0.27383074, 0.72616926],
       [0.12449365, 0.87550635],
       [0.38745898, 0.61254102],
       [0.19072685, 0.80927315],
       [0.92606255, 0.07393745],
       [0.14664412, 0.85335588],
       [0.11921516, 0.88078484],
       [0.93947524, 0.06052476],
       [0.15372584, 0.84627416],
       [0.27159241, 0.72840759],
       [0.14147378, 0.85852622],
       [0.13979166, 0.86020834],
       [0.883425  , 0.116575  ],
       [0.50594345, 0.49405655],
       [0.88338794, 0.11661206],
       [0.11588812, 0.88411188],
       [0.20122964, 0.79877036],
       [0.21388518, 0.78611482],
       [0.19357831, 0.80642169],
       [0.14551694, 0.85448306],
       [0.25598083, 0.74401917],
       [0.22178616, 0.77821384],
       [0.17446588, 0.82553412],
       [0.13373631, 0.86626369],
       [0.87269654, 0.12730346],
       [0.21765704, 0.78234296],
       [0.1713461 , 0.8286539 ],
       [0.25175184, 0.74824816],
       [0.11616351, 0.88383649],
       [0.15394571, 0.84605429],
       [0.34232361, 0.65767639],
       [0.22549548, 0.77450452],
       [0.146901  , 0.853099  ],
       [0.14941771, 0.85058229],
       [0.17233156, 0.82766844],
       [0.4381687 , 0.5618313 ],
       [0.24181574, 0.75818426],
       [0.24588852, 0.75411148],
       [0.19376254, 0.80623746],
       [0.30729954, 0.69270046],
       [0.16138882, 0.83861118],
       [0.16716794, 0.83283206],
       [0.25895418, 0.74104582],
       [0.32607384, 0.67392616],
       [0.91728421, 0.08271579],
       [0.2063041 , 0.7936959 ],
       [0.27320283, 0.72679717],
       [0.19962147, 0.80037853],
       [0.12982387, 0.87017613],
       [0.30810523, 0.69189477],
       [0.14066926, 0.85933074],
       [0.3335039 , 0.6664961 ],
       [0.26756088, 0.73243912],
       [0.14007733, 0.85992267],
       [0.24690162, 0.75309838],
       [0.18068623, 0.81931377],
       [0.22400062, 0.77599938],
       [0.33240405, 0.66759595],
       [0.15573619, 0.84426381],
       [0.18813466, 0.81186534],
       [0.17170678, 0.82829322],
       [0.13597854, 0.86402146],
       [0.10800127, 0.89199873],
       [0.20599955, 0.79400045],
       [0.17103165, 0.82896835],
       [0.18079916, 0.81920084],
       [0.24281707, 0.75718293],
       [0.25022198, 0.74977802],
       [0.31543761, 0.68456239],
       [0.92293394, 0.07706606],
       [0.14670257, 0.85329743],
       [0.32679304, 0.67320696],
       [0.36306814, 0.63693186],
       [0.31638333, 0.68361667],
       [0.16551995, 0.83448005],
       [0.18092751, 0.81907249],
       [0.344626  , 0.655374  ],
       [0.33132409, 0.66867591],
       [0.21449065, 0.78550935],
       [0.17193222, 0.82806778]])

In [26]:
for a in np.arange(0.4,0.61,0.01):
    predict_mine = np.where(Y_pred_prob[:,0] > a, 0, 1)
    cfm=confusion_matrix(Y_test, predict_mine)
    total_err=cfm[0,1]+cfm[1,0]
    print("Errors at threshold ", a, ":",total_err, " , type 2 error :", 
          cfm[1,0]," , type 1 error:", cfm[0,1])

Errors at threshold  0.4 : 28  , type 2 error : 2  , type 1 error: 26
Errors at threshold  0.41000000000000003 : 28  , type 2 error : 2  , type 1 error: 26
Errors at threshold  0.42000000000000004 : 28  , type 2 error : 2  , type 1 error: 26
Errors at threshold  0.43000000000000005 : 28  , type 2 error : 2  , type 1 error: 26
Errors at threshold  0.44000000000000006 : 28  , type 2 error : 1  , type 1 error: 27
Errors at threshold  0.45000000000000007 : 28  , type 2 error : 1  , type 1 error: 27
Errors at threshold  0.4600000000000001 : 28  , type 2 error : 1  , type 1 error: 27
Errors at threshold  0.4700000000000001 : 28  , type 2 error : 1  , type 1 error: 27
Errors at threshold  0.4800000000000001 : 28  , type 2 error : 1  , type 1 error: 27
Errors at threshold  0.4900000000000001 : 28  , type 2 error : 1  , type 1 error: 27
Errors at threshold  0.5000000000000001 : 28  , type 2 error : 1  , type 1 error: 27
Errors at threshold  0.5100000000000001 : 29  , type 2 error : 1  , type 1 error: 28
Errors at threshold  0.5200000000000001 : 29  , type 2 error : 1  , type 1 error: 28
Errors at threshold  0.5300000000000001 : 29  , type 2 error : 1  , type 1 error: 28
Errors at threshold  0.5400000000000001 : 29  , type 2 error : 1  , type 1 error: 28
Errors at threshold  0.5500000000000002 : 29  , type 2 error : 1  , type 1 error: 28
Errors at threshold  0.5600000000000002 : 29  , type 2 error : 1  , type 1 error: 28
Errors at threshold  0.5700000000000002 : 29  , type 2 error : 1  , type 1 error: 28
Errors at threshold  0.5800000000000002 : 29  , type 2 error : 1  , type 1 error: 28
Errors at threshold  0.5900000000000002 : 29  , type 2 error : 1  , type 1 error: 28
Errors at threshold  0.6000000000000002 : 29  , type 2 error : 1  , type 1 error: 28

In [27]:
Y_test=Y_test.astype(int)

In [28]:
Y_pred_prob

array([[0.28311917, 0.71688083],
       [0.432348  , 0.567652  ],
       [0.18409601, 0.81590399],
       [0.20749351, 0.79250649],
       [0.27095452, 0.72904548],
       [0.22412741, 0.77587259],
       [0.85912326, 0.14087674],
       [0.15225562, 0.84774438],
       [0.17539657, 0.82460343],
       [0.20276432, 0.79723568],
       [0.19927658, 0.80072342],
       [0.16999802, 0.83000198],
       [0.12507953, 0.87492047],
       [0.17943324, 0.82056676],
       [0.93733137, 0.06266863],
       [0.3455341 , 0.6544659 ],
       [0.12690225, 0.87309775],
       [0.13301959, 0.86698041],
       [0.32274785, 0.67725215],
       [0.2310221 , 0.7689779 ],
       [0.14994256, 0.85005744],
       [0.14490796, 0.85509204],
       [0.19991814, 0.80008186],
       [0.88134154, 0.11865846],
       [0.17491462, 0.82508538],
       [0.20491567, 0.79508433],
       [0.116062  , 0.883938  ],
       [0.18383555, 0.81616445],
       [0.15168939, 0.84831061],
       [0.18764972, 0.81235028],
       [0.16120905, 0.83879095],
       [0.20683601, 0.79316399],
       [0.14497714, 0.85502286],
       [0.92240763, 0.07759237],
       [0.30761884, 0.69238116],
       [0.20469869, 0.79530131],
       [0.19096528, 0.80903472],
       [0.15800787, 0.84199213],
       [0.19313275, 0.80686725],
       [0.27254178, 0.72745822],
       [0.23293752, 0.76706248],
       [0.16646037, 0.83353963],
       [0.3542301 , 0.6457699 ],
       [0.24781625, 0.75218375],
       [0.31430374, 0.68569626],
       [0.12128738, 0.87871262],
       [0.16452359, 0.83547641],
       [0.2741779 , 0.7258221 ],
       [0.24894216, 0.75105784],
       [0.2274289 , 0.7725711 ],
       [0.12634931, 0.87365069],
       [0.28416207, 0.71583793],
       [0.2042891 , 0.7957109 ],
       [0.20925064, 0.79074936],
       [0.92886617, 0.07113383],
       [0.17645091, 0.82354909],
       [0.31055723, 0.68944277],
       [0.92744869, 0.07255131],
       [0.22634222, 0.77365778],
       [0.11386534, 0.88613466],
       [0.27169107, 0.72830893],
       [0.15002508, 0.84997492],
       [0.18861698, 0.81138302],
       [0.31637433, 0.68362567],
       [0.14056826, 0.85943174],
       [0.29571282, 0.70428718],
       [0.13599714, 0.86400286],
       [0.14536879, 0.85463121],
       [0.39531916, 0.60468084],
       [0.2220029 , 0.7779971 ],
       [0.12923102, 0.87076898],
       [0.27303716, 0.72696284],
       [0.24523954, 0.75476046],
       [0.93076604, 0.06923396],
       [0.27383074, 0.72616926],
       [0.12449365, 0.87550635],
       [0.38745898, 0.61254102],
       [0.19072685, 0.80927315],
       [0.92606255, 0.07393745],
       [0.14664412, 0.85335588],
       [0.11921516, 0.88078484],
       [0.93947524, 0.06052476],
       [0.15372584, 0.84627416],
       [0.27159241, 0.72840759],
       [0.14147378, 0.85852622],
       [0.13979166, 0.86020834],
       [0.883425  , 0.116575  ],
       [0.50594345, 0.49405655],
       [0.88338794, 0.11661206],
       [0.11588812, 0.88411188],
       [0.20122964, 0.79877036],
       [0.21388518, 0.78611482],
       [0.19357831, 0.80642169],
       [0.14551694, 0.85448306],
       [0.25598083, 0.74401917],
       [0.22178616, 0.77821384],
       [0.17446588, 0.82553412],
       [0.13373631, 0.86626369],
       [0.87269654, 0.12730346],
       [0.21765704, 0.78234296],
       [0.1713461 , 0.8286539 ],
       [0.25175184, 0.74824816],
       [0.11616351, 0.88383649],
       [0.15394571, 0.84605429],
       [0.34232361, 0.65767639],
       [0.22549548, 0.77450452],
       [0.146901  , 0.853099  ],
       [0.14941771, 0.85058229],
       [0.17233156, 0.82766844],
       [0.4381687 , 0.5618313 ],
       [0.24181574, 0.75818426],
       [0.24588852, 0.75411148],
       [0.19376254, 0.80623746],
       [0.30729954, 0.69270046],
       [0.16138882, 0.83861118],
       [0.16716794, 0.83283206],
       [0.25895418, 0.74104582],
       [0.32607384, 0.67392616],
       [0.91728421, 0.08271579],
       [0.2063041 , 0.7936959 ],
       [0.27320283, 0.72679717],
       [0.19962147, 0.80037853],
       [0.12982387, 0.87017613],
       [0.30810523, 0.69189477],
       [0.14066926, 0.85933074],
       [0.3335039 , 0.6664961 ],
       [0.26756088, 0.73243912],
       [0.14007733, 0.85992267],
       [0.24690162, 0.75309838],
       [0.18068623, 0.81931377],
       [0.22400062, 0.77599938],
       [0.33240405, 0.66759595],
       [0.15573619, 0.84426381],
       [0.18813466, 0.81186534],
       [0.17170678, 0.82829322],
       [0.13597854, 0.86402146],
       [0.10800127, 0.89199873],
       [0.20599955, 0.79400045],
       [0.17103165, 0.82896835],
       [0.18079916, 0.81920084],
       [0.24281707, 0.75718293],
       [0.25022198, 0.74977802],
       [0.31543761, 0.68456239],
       [0.92293394, 0.07706606],
       [0.14670257, 0.85329743],
       [0.32679304, 0.67320696],
       [0.36306814, 0.63693186],
       [0.31638333, 0.68361667],
       [0.16551995, 0.83448005],
       [0.18092751, 0.81907249],
       [0.344626  , 0.655374  ],
       [0.33132409, 0.66867591],
       [0.21449065, 0.78550935],
       [0.17193222, 0.82806778]])

In [29]:
y_pred_class=[]
for value in Y_pred_prob[:,0]:
    if value > 0.4:
        y_pred_class.append(0)
    else:
        y_pred_class.append(1)
print(y_pred_class)

[1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [30]:
from sklearn.metrics import classification_report, accuracy_score, confusion_matrix

cfm = confusion_matrix(Y_test,y_pred_class)
print(cfm)

print('Classification Report : ')

print(classification_report(Y_test,y_pred_class))

acc = accuracy_score(Y_test,y_pred_class)
print("Accuracy Score : ", acc)

[[ 15  26]
 [  2 111]]
Classification Report :
              precision    recall  f1-score   support

           0       0.88      0.37      0.52        41
           1       0.81      0.98      0.89       113

    accuracy                           0.82       154
   macro avg       0.85      0.67      0.70       154
weighted avg       0.83      0.82      0.79       154

Accuracy Score :  0.8181818181818182

In [31]:
"""Using cross validation

classifier=LogisticRegression()

#performing kfold_cross_validation
from sklearn.model_selection import KFold
kfold_cv=KFold(n_splits=10,random_state=10)
#print(kfold_cv)

from sklearn.model_selection import cross_val_score
#running the model using scoring metric as accuracy
kfold_cv_result=cross_val_score(estimator=classifier,X=X_train,
                                                 y=Y_train, cv=kfold_cv)
print(kfold_cv_result)
#finding the mean
print(kfold_cv_result.mean())"""

'Using cross validation\n\nclassifier=LogisticRegression()\n\n#performing kfold_cross_validation\nfrom sklearn.model_selection import KFold\nkfold_cv=KFold(n_splits=10,random_state=10)\n#print(kfold_cv)\n\nfrom sklearn.model_selection import cross_val_score\n#running the model using scoring metric as accuracy\nkfold_cv_result=cross_val_score(estimator=classifier,X=X_train,\n                                                 y=Y_train, cv=kfold_cv)\nprint(kfold_cv_result)\n#finding the mean\nprint(kfold_cv_result.mean())'

In [32]:
"""for train_value, test_value in kfold_cv.split(X_train):
    classifier.fit(X_train[train_value], Y_train[train_value]).predict(X_train[test_value])

    
Y_pred=classifier.predict(X_test)
#print(list(zip(Y_test,Y_pred)))"""

'for train_value, test_value in kfold_cv.split(X_train):\n    classifier.fit(X_train[train_value], Y_train[train_value]).predict(X_train[test_value])\n\n    \nY_pred=classifier.predict(X_test)\n#print(list(zip(Y_test,Y_pred)))'

In [33]:
"""from sklearn.metrics import confusion_matrix, accuracy_score,classification_report

cfm=confusion_matrix(Y_test,Y_pred)
print(cfm)
print()


print("Classification report: ")

print(classification_report(Y_test,Y_pred))

acc=accuracy_score(Y_test, Y_pred)
print("Accuracy of the model: ",acc)"""

'from sklearn.metrics import confusion_matrix, accuracy_score,classification_report\n\ncfm=confusion_matrix(Y_test,Y_pred)\nprint(cfm)\nprint()\n\n\nprint("Classification report: ")\n\nprint(classification_report(Y_test,Y_pred))\n\nacc=accuracy_score(Y_test, Y_pred)\nprint("Accuracy of the model: ",acc)'

In [34]:
test_df = pd.read_csv(r'C:\Users\BHAVESH\IMARTICUS PYTHON TUTORIALS\INTERNSHIP PROJECTS\Analytics Vidhya SALES PREDICTION\test_sale.csv',
                     index_col=0,header=0,delimiter=' *, *')

In [35]:
test_df.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
Loan_ID,,,,,,,,,,,
LP001015,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban
LP001022,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban
LP001031,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban
LP001035,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,NaN,Urban
LP001051,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban

In [36]:
test_df.Dependents=test_df.Dependents.map({'3+' : 4,'1':1,'2':2,'nan':np.nan,'0':0})

In [37]:
test_df=test_df.drop(["Gender"],axis=1)

In [38]:
test_df.isnull().sum()

Married               0
Dependents           10
Education             0
Self_Employed        23
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            5
Loan_Amount_Term      6
Credit_History       29
Property_Area         0
dtype: int64

In [39]:
for x in test_df.columns:
    if test_df[x].dtype =='object' or test_df[x].dtype == 'bool':
        test_df[x].fillna(test_df[x].mode()[0], inplace=True)
    if test_df[x].dtype =='int64' or test_df[x].dtype == 'float64':
        test_df[x].fillna(test_df[x].mean(), inplace=True)

In [40]:
test_df.isnull().sum()

Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
dtype: int64

In [41]:
colname1=[]

for x in test_df.columns:
    if test_df[x].dtype=='object':
        colname1.append(x)
colname1

['Married', 'Education', 'Self_Employed', 'Property_Area']

In [42]:
from sklearn.preprocessing import LabelEncoder

le=LabelEncoder()

for x in colname1:
    test_df[x] =le.fit_transform(test_df[x])

In [43]:
test_df.head()

,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
Loan_ID,,,,,,,,,,
LP001015,1,0.0,0,0,5720,0,110.0,360.0,1.000000,2
LP001022,1,1.0,0,0,3076,1500,126.0,360.0,1.000000,2
LP001031,1,2.0,0,0,5000,1800,208.0,360.0,1.000000,2
LP001035,1,2.0,0,0,2340,2546,100.0,360.0,0.825444,2
LP001051,0,0.0,1,0,3276,0,78.0,360.0,1.000000,2

In [44]:
X_testnew = test_df.values[:,:]

In [45]:
X_testnew = scaler.transform(X_testnew)

In [46]:
X_testnew

array([[ 0.72881553, -0.70394626, -0.52836225, ...,  0.27985054,
         0.45164045,  1.22329839],
       [ 0.72881553,  0.12610061, -0.52836225, ...,  0.27985054,
         0.45164045,  1.22329839],
       [ 0.72881553,  0.95614748, -0.52836225, ...,  0.27985054,
         0.45164045,  1.22329839],
       ...,
       [-1.37208932, -0.70394626, -0.52836225, ...,  0.27985054,
        -0.04795358, -0.04760721],
       [ 0.72881553, -0.70394626, -0.52836225, ...,  0.27985054,
         0.45164045, -1.31851281],
       [-1.37208932, -0.70394626, -0.52836225, ..., -2.51865489,
         0.45164045, -1.31851281]])

In [47]:
Y_pred_prob1=classifier.predict_proba(X_testnew)

In [48]:
Y_pred_prob1

array([[0.13367215, 0.86632785],
       [0.141323  , 0.858677  ],
       [0.14430404, 0.85569596],
       [0.2298855 , 0.7701145 ],
       [0.27920892, 0.72079108],
       [0.2523894 , 0.7476106 ],
       [0.28584378, 0.71415622],
       [0.92208117, 0.07791883],
       [0.12681326, 0.87318674],
       [0.3510933 , 0.6489067 ],
       [0.28373945, 0.71626055],
       [0.16763341, 0.83236659],
       [0.24336115, 0.75663885],
       [0.85963449, 0.14036551],
       [0.23488357, 0.76511643],
       [0.19774419, 0.80225581],
       [0.15065421, 0.84934579],
       [0.11910167, 0.88089833],
       [0.22429982, 0.77570018],
       [0.26812691, 0.73187309],
       [0.1835389 , 0.8164611 ],
       [0.20378502, 0.79621498],
       [0.20902325, 0.79097675],
       [0.29251406, 0.70748594],
       [0.20407335, 0.79592665],
       [0.98230326, 0.01769674],
       [0.22310073, 0.77689927],
       [0.18922744, 0.81077256],
       [0.25119869, 0.74880131],
       [0.23563152, 0.76436848],
       [0.30774335, 0.69225665],
       [0.13271519, 0.86728481],
       [0.26363633, 0.73636367],
       [0.16742428, 0.83257572],
       [0.14789514, 0.85210486],
       [0.93602201, 0.06397799],
       [0.14560875, 0.85439125],
       [0.16464381, 0.83535619],
       [0.21938383, 0.78061617],
       [0.23686335, 0.76313665],
       [0.13677079, 0.86322921],
       [0.21220659, 0.78779341],
       [0.23297529, 0.76702471],
       [0.27570987, 0.72429013],
       [0.20535239, 0.79464761],
       [0.29394105, 0.70605895],
       [0.20474123, 0.79525877],
       [0.34032482, 0.65967518],
       [0.25261128, 0.74738872],
       [0.18147651, 0.81852349],
       [0.14368463, 0.85631537],
       [0.17174758, 0.82825242],
       [0.17471171, 0.82528829],
       [0.10864273, 0.89135727],
       [0.19643131, 0.80356869],
       [0.92345434, 0.07654566],
       [0.34707388, 0.65292612],
       [0.15745006, 0.84254994],
       [0.89885397, 0.10114603],
       [0.10794954, 0.89205046],
       [0.23372722, 0.76627278],
       [0.14416211, 0.85583789],
       [0.22225663, 0.77774337],
       [0.9425252 , 0.0574748 ],
       [0.14770019, 0.85229981],
       [0.18739295, 0.81260705],
       [0.92257815, 0.07742185],
       [0.88956553, 0.11043447],
       [0.16033305, 0.83966695],
       [0.92939041, 0.07060959],
       [0.21757556, 0.78242444],
       [0.21918868, 0.78081132],
       [0.13914769, 0.86085231],
       [0.22979597, 0.77020403],
       [0.25263467, 0.74736533],
       [0.25561336, 0.74438664],
       [0.17019854, 0.82980146],
       [0.24451897, 0.75548103],
       [0.17650034, 0.82349966],
       [0.14285231, 0.85714769],
       [0.84825947, 0.15174053],
       [0.04509094, 0.95490906],
       [0.92292693, 0.07707307],
       [0.19277511, 0.80722489],
       [0.88584528, 0.11415472],
       [0.19816448, 0.80183552],
       [0.15521714, 0.84478286],
       [0.23200414, 0.76799586],
       [0.29104966, 0.70895034],
       [0.28079621, 0.71920379],
       [0.33344259, 0.66655741],
       [0.16062671, 0.83937329],
       [0.1739636 , 0.8260364 ],
       [0.19476605, 0.80523395],
       [0.88944415, 0.11055585],
       [0.11019398, 0.88980602],
       [0.18699705, 0.81300295],
       [0.18373465, 0.81626535],
       [0.08642498, 0.91357502],
       [0.210659  , 0.789341  ],
       [0.26147991, 0.73852009],
       [0.89391761, 0.10608239],
       [0.12898647, 0.87101353],
       [0.19248683, 0.80751317],
       [0.40211028, 0.59788972],
       [0.18357006, 0.81642994],
       [0.92967295, 0.07032705],
       [0.12865742, 0.87134258],
       [0.15826649, 0.84173351],
       [0.21658593, 0.78341407],
       [0.24342034, 0.75657966],
       [0.13978352, 0.86021648],
       [0.21080185, 0.78919815],
       [0.15836674, 0.84163326],
       [0.21929805, 0.78070195],
       [0.35469477, 0.64530523],
       [0.37488154, 0.62511846],
       [0.90277236, 0.09722764],
       [0.93085302, 0.06914698],
       [0.91691726, 0.08308274],
       [0.20211275, 0.79788725],
       [0.21332244, 0.78667756],
       [0.114525  , 0.885475  ],
       [0.9592464 , 0.0407536 ],
       [0.92941065, 0.07058935],
       [0.23374617, 0.76625383],
       [0.91111321, 0.08888679],
       [0.13136365, 0.86863635],
       [0.20030525, 0.79969475],
       [0.20824638, 0.79175362],
       [0.14939737, 0.85060263],
       [0.26561382, 0.73438618],
       [0.18052188, 0.81947812],
       [0.19353536, 0.80646464],
       [0.19912052, 0.80087948],
       [0.13967432, 0.86032568],
       [0.15430295, 0.84569705],
       [0.18722757, 0.81277243],
       [0.23225321, 0.76774679],
       [0.2920355 , 0.7079645 ],
       [0.93936388, 0.06063612],
       [0.14398964, 0.85601036],
       [0.8814728 , 0.1185272 ],
       [0.30884463, 0.69115537],
       [0.16704671, 0.83295329],
       [0.19341713, 0.80658287],
       [0.30963681, 0.69036319],
       [0.96174525, 0.03825475],
       [0.15109614, 0.84890386],
       [0.21578618, 0.78421382],
       [0.27359051, 0.72640949],
       [0.14966103, 0.85033897],
       [0.26471368, 0.73528632],
       [0.91653909, 0.08346091],
       [0.1386724 , 0.8613276 ],
       [0.37154283, 0.62845717],
       [0.17343927, 0.82656073],
       [0.19171411, 0.80828589],
       [0.25698587, 0.74301413],
       [0.23238088, 0.76761912],
       [0.33222864, 0.66777136],
       [0.92697826, 0.07302174],
       [0.20780112, 0.79219888],
       [0.24783822, 0.75216178],
       [0.39648661, 0.60351339],
       [0.95676991, 0.04323009],
       [0.9449431 , 0.0550569 ],
       [0.16487898, 0.83512102],
       [0.86636289, 0.13363711],
       [0.15356102, 0.84643898],
       [0.25687109, 0.74312891],
       [0.21068918, 0.78931082],
       [0.17475308, 0.82524692],
       [0.93414828, 0.06585172],
       [0.93693993, 0.06306007],
       [0.18857621, 0.81142379],
       [0.20228305, 0.79771695],
       [0.38725905, 0.61274095],
       [0.15196961, 0.84803039],
       [0.16690904, 0.83309096],
       [0.15874906, 0.84125094],
       [0.1850678 , 0.8149322 ],
       [0.11791857, 0.88208143],
       [0.20229148, 0.79770852],
       [0.10060959, 0.89939041],
       [0.35057259, 0.64942741],
       [0.20445102, 0.79554898],
       [0.14473261, 0.85526739],
       [0.21379687, 0.78620313],
       [0.21954268, 0.78045732],
       [0.15864835, 0.84135165],
       [0.20718821, 0.79281179],
       [0.93520086, 0.06479914],
       [0.91638461, 0.08361539],
       [0.21511108, 0.78488892],
       [0.21938383, 0.78061617],
       [0.87561587, 0.12438413],
       [0.25919276, 0.74080724],
       [0.8582047 , 0.1417953 ],
       [0.19275302, 0.80724698],
       [0.17004795, 0.82995205],
       [0.1479504 , 0.8520496 ],
       [0.23253479, 0.76746521],
       [0.1709417 , 0.8290583 ],
       [0.24127208, 0.75872792],
       [0.17610225, 0.82389775],
       [0.17353985, 0.82646015],
       [0.15898537, 0.84101463],
       [0.20267503, 0.79732497],
       [0.37289032, 0.62710968],
       [0.20185131, 0.79814869],
       [0.94917545, 0.05082455],
       [0.12612615, 0.87387385],
       [0.26277227, 0.73722773],
       [0.27392942, 0.72607058],
       [0.22314109, 0.77685891],
       [0.23495742, 0.76504258],
       [0.20047837, 0.79952163],
       [0.21997665, 0.78002335],
       [0.14348127, 0.85651873],
       [0.26052965, 0.73947035],
       [0.26970528, 0.73029472],
       [0.16629707, 0.83370293],
       [0.24833501, 0.75166499],
       [0.92874484, 0.07125516],
       [0.20617467, 0.79382533],
       [0.14996436, 0.85003564],
       [0.18508444, 0.81491556],
       [0.29625801, 0.70374199],
       [0.87954318, 0.12045682],
       [0.3448755 , 0.6551245 ],
       [0.2629102 , 0.7370898 ],
       [0.1680224 , 0.8319776 ],
       [0.20255511, 0.79744489],
       [0.15143793, 0.84856207],
       [0.93763117, 0.06236883],
       [0.9460814 , 0.0539186 ],
       [0.33134766, 0.66865234],
       [0.19892771, 0.80107229],
       [0.20091215, 0.79908785],
       [0.28571679, 0.71428321],
       [0.89224718, 0.10775282],
       [0.15882649, 0.84117351],
       [0.90949246, 0.09050754],
       [0.30551359, 0.69448641],
       [0.90540296, 0.09459704],
       [0.14432035, 0.85567965],
       [0.12062505, 0.87937495],
       [0.21411473, 0.78588527],
       [0.23616365, 0.76383635],
       [0.84278311, 0.15721689],
       [0.13516184, 0.86483816],
       [0.22402132, 0.77597868],
       [0.12574323, 0.87425677],
       [0.13811463, 0.86188537],
       [0.93891056, 0.06108944],
       [0.1670012 , 0.8329988 ],
       [0.17761169, 0.82238831],
       [0.21189988, 0.78810012],
       [0.43277198, 0.56722802],
       [0.19926861, 0.80073139],
       [0.16611343, 0.83388657],
       [0.40704994, 0.59295006],
       [0.14856393, 0.85143607],
       [0.17376166, 0.82623834],
       [0.40165974, 0.59834026],
       [0.91121608, 0.08878392],
       [0.36605842, 0.63394158],
       [0.87102375, 0.12897625],
       [0.25515315, 0.74484685],
       [0.16528161, 0.83471839],
       [0.34944933, 0.65055067],
       [0.18905935, 0.81094065],
       [0.86967958, 0.13032042],
       [0.92737264, 0.07262736],
       [0.12424902, 0.87575098],
       [0.13828106, 0.86171894],
       [0.22379693, 0.77620307],
       [0.90638079, 0.09361921],
       [0.17654966, 0.82345034],
       [0.26201679, 0.73798321],
       [0.17150599, 0.82849401],
       [0.34254095, 0.65745905],
       [0.32518953, 0.67481047],
       [0.27192424, 0.72807576],
       [0.15264005, 0.84735995],
       [0.42500765, 0.57499235],
       [0.30663624, 0.69336376],
       [0.21626384, 0.78373616],
       [0.1465501 , 0.8534499 ],
       [0.18108691, 0.81891309],
       [0.14256115, 0.85743885],
       [0.33757565, 0.66242435],
       [0.88225932, 0.11774068],
       [0.21124591, 0.78875409],
       [0.15288077, 0.84711923],
       [0.2244536 , 0.7755464 ],
       [0.33288644, 0.66711356],
       [0.18924638, 0.81075362],
       [0.15133022, 0.84866978],
       [0.12260251, 0.87739749],
       [0.85976932, 0.14023068],
       [0.23736492, 0.76263508],
       [0.25302419, 0.74697581],
       [0.15833753, 0.84166247],
       [0.4727182 , 0.5272818 ],
       [0.16431131, 0.83568869],
       [0.21025295, 0.78974705],
       [0.16295752, 0.83704248],
       [0.19220166, 0.80779834],
       [0.21682876, 0.78317124],
       [0.9378016 , 0.0621984 ],
       [0.21459983, 0.78540017],
       [0.15350444, 0.84649556],
       [0.21708418, 0.78291582],
       [0.15834695, 0.84165305],
       [0.1720529 , 0.8279471 ],
       [0.92001626, 0.07998374],
       [0.34374939, 0.65625061],
       [0.24057775, 0.75942225],
       [0.18172911, 0.81827089],
       [0.23388834, 0.76611166],
       [0.09643825, 0.90356175],
       [0.20416578, 0.79583422],
       [0.16272789, 0.83727211],
       [0.93342917, 0.06657083],
       [0.21232227, 0.78767773],
       [0.12708069, 0.87291931],
       [0.14588496, 0.85411504],
       [0.2580155 , 0.7419845 ],
       [0.17399318, 0.82600682],
       [0.12131513, 0.87868487],
       [0.21824437, 0.78175563],
       [0.1521632 , 0.8478368 ],
       [0.15646201, 0.84353799],
       [0.17387317, 0.82612683],
       [0.47922743, 0.52077257],
       [0.1526985 , 0.8473015 ],
       [0.1907491 , 0.8092509 ],
       [0.94697068, 0.05302932],
       [0.20239401, 0.79760599],
       [0.34185917, 0.65814083],
       [0.17233156, 0.82766844],
       [0.1211389 , 0.8788611 ],
       [0.26660908, 0.73339092],
       [0.11733877, 0.88266123],
       [0.91029713, 0.08970287],
       [0.27819187, 0.72180813],
       [0.18545979, 0.81454021],
       [0.1931707 , 0.8068293 ],
       [0.16664409, 0.83335591],
       [0.58963119, 0.41036881],
       [0.13858674, 0.86141326],
       [0.19788482, 0.80211518],
       [0.89608952, 0.10391048],
       [0.11469806, 0.88530194],
       [0.13461238, 0.86538762],
       [0.20271243, 0.79728757],
       [0.32612327, 0.67387673],
       [0.27053581, 0.72946419],
       [0.25405183, 0.74594817],
       [0.15825211, 0.84174789],
       [0.1678504 , 0.8321496 ],
       [0.14224808, 0.85775192],
       [0.40196469, 0.59803531],
       [0.19692596, 0.80307404],
       [0.24505176, 0.75494824]])

In [49]:
y_pred_class1=[]
for value in Y_pred_prob1[:,0]:
    if value > 0.4:
        y_pred_class1.append(0)
    else:
        y_pred_class1.append(1)
print(y_pred_class1)

[1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1]

In [50]:
test_df1 = pd.read_csv(r'C:\Users\BHAVESH\IMARTICUS PYTHON TUTORIALS\INTERNSHIP PROJECTS\Analytics Vidhya SALES PREDICTION\test_sale.csv',
                     header=0,delimiter=' *, *')

In [51]:
test_df1.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001015,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban
2,LP001031,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban
3,LP001035,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,NaN,Urban
4,LP001051,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban

In [56]:
final_data = pd.DataFrame()

In [57]:
final_data["Loan_ID"] = test_df1['Loan_ID']

In [58]:
final_data["Loan_Status"] = y_pred_class1

In [59]:
final_data

      Loan_ID  Loan_Status
0    LP001015            1
1    LP001022            1
2    LP001031            1
3    LP001035            1
4    LP001051            1
..        ...          ...
362  LP002971            1
363  LP002975            1
364  LP002980            0
365  LP002986            1
366  LP002989            1

[367 rows x 2 columns]

In [61]:
final_data.to_excel("Loan Status Prediction.xlsx",header=True,index=False)